body {
  background: #ece6ff;
}
h1 {
  text-align: center;
  color: #3d00ff;
  font-size: 250%;
  margin-top: 100px;
  font-family: 'Krona One', sans-serif;
}
h2 {
  text-align: center;
  color: #004DFF;
  font-size: 125%;
  margin: 10px;
  font-family: 'Roboto Condensed', sans-serif;
}
.counter {
  text-align: center;
  font-size: 110%;
  padding: 5px;
  color:#80A6FF;
  text-decoration: underline;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-style: italic;
}
.container {  
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.tweet{
  background: #ffffff;
  border: 4px groove #694080;
  min-height: 50px;
}
.tweet img{
  float: left;
  margin-right: 5px;
  width: 40px;
  height: 40px;
}
p.tweet{
  font-family: 'Droid Sans', sans-serif;
  text-align: left;
  padding: 5px;
}
#search_form {
  margin-top: 150px;
  text-align: center;  
}
#search_input {
  font-family: 'Droid Sans', sans-serif;
}
#search_input_button {
  font-family: 'Droid Sans', sans-serif;
}
#results_header {
  padding-top: 30px;
  text-align: center;
}
#results {
  display: none;
}
#tweet_counter {
  display: none;
}